body {
    background-color: grey;
    font-family: sans-serif;
    color: rgb(185,185,185);
    max-width: 1800px;
    width: 98%;
    margin: 0 auto;
}
.navWrap {
    width: 1800px;
    white-space: nowrap;
    overflow: hidden;

}
header {
    background-color: rgb(0, 80, 53);
    margin: 10px;
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 10px 10px rgb(0, 100, 53);
}
.navigate {
    position: absolute;
}
.left {
    align-items: left;
    left: 2%;
    
}
.right {
    align-items: right;
    right: 2%;
}
a:hover{
    color: rgb(0, 255, 136);
}
a {
    color: rgb(255, 255, 255);
}
h3 > a {
    color: rgb(223, 223, 223);
}
h2 {
    color: rgb(223, 223, 223);
}
main {
    background-color: rgb(156, 98, 60);
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 10px 10px rgb(130, 90, 50);
}
footer {
    background-color: rgb(17, 17, 17);
    
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
    box-shadow: 10px 10px rgb(100,100,100);
}

figure{
    text-align: center;
    display: flexbox;
    justify-content: center;
}
.validate {
    text-decoration: none;
}
